/* ....................Under Develope Page...................... */
body {
	background            : url('images/background.png');
	background-position   : top center;
	background-repeat     : repeat-y;
} 


div.container {
	min-height            : 550px;
	margin-top            : 2px;
	padding-top           : 5px;
}
section.adminlogin{
	margin-top: 100px;
}
div.chef{
	background-image: url('images/header1 copy.png');
	width: 255px;
	height: 215px;
	float: left;
	margin-left: 125px;
}
div.br{
width: 300px;
height: 300px;
margin-left: 70px;
margin-top: 70px;
float: left;
}
section.adminlogin form input{
margin-bottom: 15px;
border: none;
border-bottom: 1px solid rgb(196, 196, 196);
}
section.adminlogin form button{
	background-color: #E9200A;
	width: 70px;
	height: 35px;
	border:none;
	color: #fff;
	border-radius: 20px;
	margin-top: 20px;
	font-family: arial;
	font-size: 17px;
}
section.adminlogin form button:hover{
	background-color: #D61E09;
}